{% extends 'base.html.twig' %}
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('app/img/favicon.ico') }}">
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}



 {% block body %}

     {% include '_widgets/shop/_header.html.twig' %}

     {% block content %}
     {% endblock %}


     {% include '_widgets/shop/_footer.html.twig' %}
     {% include '_partials/shop/_quickview.html.twig' %}
 {% endblock %}
{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
